.search-card{
    margin-top: 5%;
    border: 1px solid #777777;
    border-radius: .5rem;
}

.card-header{
    padding-left: 1%;
    vertical-align: top;
    border-bottom: 1px solid #777777;
}

.card-title{
    margin-top: 1%;
    font-weight: 500;
}

.card-body{
    margin-left: 2% !important;
}

.input-field{
    width: 100%;
}